html {
    overflow-y: scroll;
  }
.my-div {
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s;
    margin: 5px;
}

.my-div:hover {
    background-color: #0056b3;
}

.contest-block {
    padding: 20px;
    border-radius: 10px; /* Add a curved outline */
    border: 2px solid #333; /* Border color */
    transition: background-color 0.3s; /* Smooth color transition on hover */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .contest-block:hover {
    background-color: #68aaf7; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }

  .contest-block-highlighted {
    padding: 20px;
    border-radius: 10px; /* Add a curved outline */
    border: 2px solid #000000; /* Border color */
    background-color: #388070; /* Change background color on hover */
    transition: background-color 0.3s; /* Smooth color transition on hover */
    cursor: pointer; /* Change cursor on hover */
  }

  .contest-block-highlighted:hover {
    padding: 20px;
    border-radius: 10px; /* Add a curved outline */
    border: 2px solid #000000; /* Border color */
    background-color: #68aaf7; /* Change background color on hover */
    color: white; /* Change text color on hover */
    transition: background-color 0.3s; /* Smooth color transition on hover */
    cursor: pointer; /* Change cursor on hover */
  }